@using ForAnimalsWithLove.ViewModels.Admins;
@model AdminAnimalModel


<body id="top">

	<!-- ==== Page Content ==== -->
	<div class="page">
		<div class="container">
			<div class="row">
				<div class="col-lg-10">

					@foreach (var booking in Model.Bookings)
					{
						<partial name="_BookingDetailsOwner" model="@booking" />
						<hr />
					}


				</div>
				<!-- /col-lg-->
			</div>
			<!-- /row-->
		</div>
		<!-- /container-->
	</div>
	<!-- /page -->

</body>
