@using ForAnimalsWithLove.ViewModels.Admins;
@model AdminGroomingModel


<body id="top">

	<!-- ==== Page Content ==== -->
	<div class="page">
		<div class="container">
			<div class="row">
				<div class="col-lg-10">

					<div class="row bg-light-custom border-irregular1 block-padding text-center">

						<div>
							<h4>Grooming</h4>
							<div class="row">
								<div class="text-center">
									<ul class="list-unstyled pet-adopt-info">
										<li class="h7">Използвана услуга: <span>@Model.Service</span></li>
									</ul>
								</div>
								<!-- /div-->
							</div>
							<!-- /row-->

						</div>
						<!-- /col-md -->
					</div>
					<hr />


				</div>
				<!-- /col-lg-->
			</div>
			<!-- /row-->
		</div>
		<!-- /container-->
	</div>
	<!-- /page -->

</body>
