@using ForAnimalsWithLove.ViewModels.Admins;
@model AdminHealthModel


<body id="top">

	<!-- ==== Page Content ==== -->
	<div class="page">
		<div class="container">
			<div class="row">
				<div class="col-lg-10">


					@foreach (var record in Model.HospitalRecords)
					{
						<partial name="_HospitalPartial" model="@record" />
						<hr />
					}


				</div>
				<!-- /col-lg-->
			</div>
			<!-- /row-->
		</div>
		<!-- /container-->
	</div>
	<!-- /page -->

</body>
