@{
	ViewBag.Title = "Добави нов клиент";
}
<head>
<!-- Bootstrap core CSS -->
<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- style CSS -->
<link href="~/css/style.css" rel="stylesheet">
<!-- plugins CSS -->
<link href="~/css/plugins.css" rel="stylesheet">
<!-- Colors CSS -->
<link href="~/styles/maincolors.css" rel="stylesheet">
</head>

<div class="page pb-0">
    <div class="section-heading" data-aos="zoom-in">
        <h3>@ViewBag.Title</h3>
    </div>
</div>

<partial name="_AddAnimalFormPartial"/>
<hr/>
<partial name="_AddOwnerFormPartial" />

<div class="text-center">
	<input class="btn btn-primary mt-3" type="submit" value="Запази" />
</div>

<!-- Bootstrap core & Jquery -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Custom Js -->
<script src="~/js/custom.js"></script>
<script src="~/js/plugins.js"></script>
<!-- Prefix free -->
<script src="~/js/prefixfree.min.js"></script>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}


