@using ForAnimalsWithLove.ViewModels.Admins;
@model AdminHospitalModel

@{
	ViewBag.Title = "Добави болнично досие";
}
<head>
	<!-- Bootstrap core CSS -->
	<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- style CSS -->
	<link href="~/css/style.css" rel="stylesheet">
	<!-- plugins CSS -->
	<link href="~/css/plugins.css" rel="stylesheet">
	<!-- Colors CSS -->
	<link href="~/styles/maincolors.css" rel="stylesheet">
</head>

<div class="page pb-0">
	<div class="section-heading" data-aos="zoom-in">
		<h3>@ViewBag.Title</h3>
	</div>
</div>


<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post">

			<div class="form-group">
				<label asp-for="DateOfAcceptance"></label>
				<input asp-for="DateOfAcceptance" class="form-control" />
				<span asp-validation-for="DateOfAcceptance" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DateOfDischarge"></label>
				<input asp-for="DateOfDischarge" class="form-control" />
				<span asp-validation-for="DateOfDischarge" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Diagnosis"></label>
				<input asp-for="Diagnosis" class="form-control" placeholder="Диагноза..." />
				<span asp-validation-for="Diagnosis" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Treatment"></label>
				<input asp-for="Treatment" class="form-control" placeholder="Лечение..." />
				<span asp-validation-for="Treatment" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PrescribedTreatment"></label>
				<input asp-for="PrescribedTreatment" class="form-control" placeholder="Продължаващо предписано лечение...." />
				<span asp-validation-for="PrescribedTreatment" class="small textdanger"></span>
			</div>
			
			<div class="text-center">
				<button class="btn btn-primary mt-3" type="submit" value="AddHospitalRecord">Запази</button>
			</div>

		</form>
	</div>
</div>


<!-- Bootstrap core & Jquery -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Custom Js -->
<script src="~/js/custom.js"></script>
<script src="~/js/plugins.js"></script>
<!-- Prefix free -->
<script src="~/js/prefixfree.min.js"></script>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}


