<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- page title -->
    <title>Woof!</title>
    <!--[if lt IE 9]>
    <script src="js/respond.js"></script>
    <![endif]-->
    <!-- Font files -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
    <link href="fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- plugins CSS -->
    <link href="css/plugins.css" rel="stylesheet">
    <!-- Colors CSS -->
    <link href="styles/maincolors.css" rel="stylesheet">
    <!-- LayerSlider CSS -->
    <link rel="stylesheet" href="vendor/layerslider/css/layerslider.css">
</head>
<!-- ==== body starts ==== -->
<body id="top">
    <!-- Preloader-->
    <div id="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
        </div>
    </div>
    <!-- /Preloader ends -->
  
    <!-- ==== Page Content ==== -->
    <div class="page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row bg-light-custom border-irregular1 block-padding">
                        <!-- image -->
                        <div class="col-lg-4 offset-lg-2">
                            <!-- owl slider -->
                            <div id="owl-adopt-single" class="owl-carousel top-centered-nav owl-theme">
                                <div class="col-md-12">
                                    <!-- image -->
                                    <a href="img/adoption/adoption1.jpg" title="your caption here">
                                        <img src="img/adoption/adoption1.jpg" class="border-irregular1 img-fluid hover-opacity" alt="">
                                    </a>
                                </div>
                                <!-- /col-md-12 -->
                                <div class="col-md-12">
                                    <!-- image -->
                                    <a href="img/adoption/adoptionsingle1.jpg" title="your caption here">
                                        <img src="img/adoption/adoptionsingle1.jpg" class="border-irregular2 img-fluid hover-opacity" alt="">
                                    </a>
                                </div>
                                <!-- /col-md-12 -->
                                <div class="col-md-12">
                                    <!-- image -->
                                    <a href="img/adoption/adoptionsingle2.jpg" title="your caption here">
                                        <img src="img/adoption/adoptionsingle2.jpg" class="border-irregular1 img-fluid hover-opacity" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- /owl-carousel -->
                        </div>
                        <!-- /col-md -->
                        <!-- adoption info  -->
                        <div class="col-lg-4 res-margin mt-5 text-xs-center">
                            <h4><strong>Pet name:</strong> Fluffy</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled pet-adopt-info">
                                        <li class="h7">Gender: <span>female</span></li>
                                        <li class="h7">Age: <span>2 years</span></li>
                                        <li class="h7">Breed: <span>Poodle</span></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled pet-adopt-info">
                                        <li class="h7">Neutered: <span>Yes</span></li>
                                        <li class="h7">Vaccinated: <span>Yes</span></li>
                                        <li class="h7">Size: <span>Medium</span></li>
                                    </ul>
                                </div>
                                <!-- /div-->
                            </div>
                            <!-- /row-->
                            <p class="font-weight-bold">Fluffy is a very sweet and active dog, she is ready for a new home!</p>
                            <!-- button -->
                            <a href="#" class="btn btn-primary " data-aos="zoom-in">Adopt now!</a>
                        </div>
                        <!-- /col-md -->
                    </div>
                    <!-- /row-->
                    <div class="col-md-12 mt-5">
                        <h3>About Fluffy</h3>
                        <!-- ul custom-->
                        <ul class="custom list-inline font-weight-bold">
                            <li class="list-inline-item">Friendly to other dogs</li>
                            <li class="list-inline-item">Good for Apartments</li>
                            <li class="list-inline-item">Friendly with Kids</li>
                        </ul>
                        <p>
                            Elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset phas ellus ac sodales Lorem ipsum dolor Phas ellus
                            ac sodales felis tiam non metus. lorem ipsum dolor sit amet, consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset campas fincas
                        </p>
                        <p>
                            Elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset phas ellus ac sodales Lorem ipsum dolor Phas ellus
                            ac sodales felis tiam non metus. lorem ipsum dolor sit amet, consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset campas fincas
                        </p>
                        <div class="alert alert-primary mt-5" role="alert">
                            <h6 class="text-light">Adoption Rules</h6>
                            <p>
                                Elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset phas ellus ac sodales Lorem ipsum dolor Phas ellus
                                ac sodales felis tiam non metus. lorem ipsum dolor sit amet, consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset campas fincas
                            </p>
                        </div>
                        <!-- /alert-->
                        <p class="custom-link"><a href="adoption.html">« Go back to adoption gallery</a></p>
                    </div>
                    <!-- /col-md-->
                </div>
                <!-- /col-lg-->
            </div>
            <!-- /row-->
        </div>
        <!-- /container-->
    </div>
    <!-- /page -->

    <!-- Bootstrap core & Jquery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="js/custom.js"></script>
    <script src="js/plugins.js"></script>
    <!-- Prefix free -->
    <script src="js/prefixfree.min.js"></script>
</body>
</html>
