@using ForAnimalsWithLove.ViewModels.Admins;
@model AdminAnimalModel

@{
	ViewBag.Title = "Промени информация";
}
<head>
	<!-- Bootstrap core CSS -->
	<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- style CSS -->
	<link href="~/css/style.css" rel="stylesheet">
	<!-- plugins CSS -->
	<link href="~/css/plugins.css" rel="stylesheet">
	<!-- Colors CSS -->
	<link href="~/styles/maincolors.css" rel="stylesheet">
</head>

<div class="page pb-0">
	<div class="section-heading" data-aos="zoom-in">
		<h3>@ViewBag.Title</h3>
	</div>
</div>


<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form asp-action="EditAnimal" method="post">

			<div class="form-group">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" placeholder="Име..." />
				<span asp-validation-for="Name" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Age"></label>
				<input asp-for="Age" class="form-control" placeholder="Възраст..." />
				<span asp-validation-for="Age" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Photo"></label>
				<input asp-for="Photo" class="form-control" placeholder="Снимка..." />
				<span asp-validation-for="Photo" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="KindOfAnimal"></label>
				<input asp-for="KindOfAnimal" class="form-control" placeholder="Вид..." />
				<span asp-validation-for="KindOfAnimal" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Breed"></label>
				<input asp-for="Breed" class="form-control" placeholder="Порода...." />
				<span asp-validation-for="Breed" class="small textdanger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Color"></label>
				<input asp-for="Color" class="form-control" placeholder="Цвят...." />
				<span asp-validation-for="Color" class="small textdanger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Sex"></label>
				<input asp-for="Sex" class="form-control" placeholder="Пол...." />
				<span asp-validation-for="Sex" class="small textdanger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Birthdate"></label>
				<input asp-for="Birthdate" class="form-control" placeholder="Рождена дата...." />
				<span asp-validation-for="Birthdate" class="small textdanger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DoesHasOwner"></label>
				<br>
				<input type="checkbox" asp-for="DoesHasOwner" name="doesHasOwner" id="hasOwner" value="true" onclick="checkedOnClick(this)" />
				<label> Да</label>
				<input type="checkbox" asp-for="DoesHasOwner" name="doesHasOwner" value="false" onclick="checkedOnClick(this)" />
				<label> Не</label><br>
				<span asp-validation-for="DoesHasOwner" class="small textdanger"></span>
				<!-- Script -->
				<script type="text/javascript">
					function checkedOnClick(el) {

						// Select all checkboxes by class
						var checkboxesList = document.getElementsByName("doesHasOwner");
						for (var i = 0; i < checkboxesList.length; i++) {
							checkboxesList.item(i).checked = false; // Uncheck all checkboxes
						}

						el.checked = true; // Checked clicked checkbox
					}

				</script>

			<div class="text-center">
				<button class="btn btn-primary mt-3" type="submit" value="EditDoctor">Запази</button>
			</div>

		</form>


		<div class="text-center col-md-10 col-xl-12">
			<a asp-controller="Administrator" asp-action="AddHealthRecord" class="btn btn-primary"> + Добави здравно досие</a>
		</div>
		<div class="text-center col-md-10 col-xl-12">
			<a asp-controller="Administrator" asp-action="AddGrooming" class="btn btn-primary"> + Добави Grooming услуги</a>
		</div>
		<div class="text-center col-md-10 col-xl-12">
			<a asp-controller="Administrator" asp-action="AddEducation" class="btn btn-primary"> + Добави обучение</a>
		</div>
		<div class="text-center col-md-10 col-xl-12">
			<a asp-controller="Administrator" asp-action="AddBooking" class="btn btn-primary"> + Добави хотелско настаняване</a>
		</div>
	</div>
</div>


<!-- Bootstrap core & Jquery -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Custom Js -->
<script src="~/js/custom.js"></script>
<script src="~/js/plugins.js"></script>
<!-- Prefix free -->
<script src="~/js/prefixfree.min.js"></script>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}


