body {
    background-color: bisque;
}

header {
    background-color: darksalmon;
    height: 70px;
    text-align: center;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    color: black;
    border: 2px solid darksalmon;
    border-radius: 2px;
}

nav {
    background-color: darksalmon;
    height: 70px;
}

    nav div {
        background-color: darksalmon;
        font-size: 10px;
        text-align: left;
    }


        nav div div img {
            height: 70px;
            width: 110px;
            border-radius: 2px;
            border: 2px solid darksalmon;
        }


    nav div div ul {
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        word-spacing: 3px;
        color: #000000;
        font-weight: 500;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
    }


 li a:hover {
       background-color: antiquewhite;
  }

footer {
    background-color: darksalmon;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 2px solid darksalmon;
    border-radius: 2px;
}

    footer div {
        background-color: darksalmon;
        font-size: 20px;
        color: black;
        text-align: left;
    }