<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- page title -->
    <title>For Animals with Love</title>
    <!--[if lt IE 9]>
    <script src="~/js/respond.js"></script>
    <![endif]-->
    <!-- Font files -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="~/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- plugins CSS -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <!-- Colors CSS -->
    <link href="~/styles/maincolors.css" rel="stylesheet">
    <!-- LayerSlider CSS -->
    <link rel="stylesheet" href="~/vendor/layerslider/css/layerslider.css">

  
</head>
<body>
    <header>
        <!-- /Preloader ends -->
        <nav id="main-nav" class="navbar-expand-xl">
            <!-- Start Top Bar -->
            <div class="container-fluid top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- Start Contact Info -->
                            <ul class="contact-details float-left">
                                <li><i class="fa fa-map-marker"></i>Pet Street 123 - Sofia</li>
                                <li><i class="fa fa-envelope"></i><a href="mailto:email@site.com">office@foranimalswithlove.bg</a></li>
                                <li><i class="fa fa-phone"></i>0700 12 323</li>
                            </ul>
                            <!-- End Contact Info -->
                        </div>
                        <!-- /col -->
                        <div class="col-md-3">
                            <!-- Start Social Links -->
                            <ul class="social-list float-right list-inline">
                                <li class="list-inline-item"><a title="Facebook" href="https://bg-bg.facebook.com/people/%D0%9F%D0%BE%D0%BB%D0%B8%D0%BD%D0%B0-%D0%94%D1%80%D1%83%D0%BC%D0%B5%D0%B2%D0%B0/pfbid0oYs8YMDBxFBtEAScouom7oAYZhzKtq1jEddjyuUnp7P1WZ3P9GKz9JjqVg3XMxH7l/"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                            <!-- /End Social Links -->
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- End Top bar -->
            <!-- Navbar Starts -->
            <div class="navbar container-fluid">
                <div class="container">
                    <!-- logo -->
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png" style="block-size: 80px" alt="ForAnimalsWithLove">
                    </a>
                    <!-- Navbartoggler -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggle-icon">
                            <i class="fas fa-bars"></i>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <!-- menu item -->
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="About">
                                    За нас
                                </a>
                            </li>
                            <!-- menu item -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" asp-controller="Home" asp-action="Privacy" id="services-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Отделения
                                </a>
                                <div class="dropdown-menu" aria-labelledby="services-dropdown">
                                    <a class="dropdown-item" href="services.html">Services Style 1</a>
                                    <a class="dropdown-item" href="services2.html">Services Style 2</a>
                                    <a class="dropdown-item" href="services-single.html">Services Single</a>
                                </div>
                            </li>
                            <!-- menu item -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="about-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Осинови
                                </a>
                                <div class="dropdown-menu" aria-labelledby="about-dropdown">
                                    <a class="dropdown-item" href="about.html">About Style 1</a>
                                    <a class="dropdown-item" href="about2.html">About Style 2</a>
                                </div>
                            </li>
                            <!-- menu item -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="adopt-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Полезна информация
                                </a>
                                <div class="dropdown-menu" aria-labelledby="adopt-dropdown">
                                    <a class="dropdown-item" href="adoption.html">Adoption Gallery</a>
                                    <a class="dropdown-item" href="adoption-single.html">Adoption Single Page</a>
                                </div>
                            </li>
                            <!-- menu item -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="gallery-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Gallery
                                </a>
                                <div class="dropdown-menu" aria-labelledby="gallery-dropdown">
                                    <a class="dropdown-item" href="gallery.html">Gallery Style 1</a>
                                    <a class="dropdown-item" href="gallery2.html">Gallery Style 2</a>
                                </div>
                            </li>
                            <!-- menu item -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="contact-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Контакти
                                </a>
                                <div class="dropdown-menu" aria-labelledby="contact-dropdown">
                                    <a class="dropdown-item" href="contact.html">Contact Style 1</a>
                                    <a class="dropdown-item" href="contact2.html">Contact Style 2</a>
                                </div>
                            </li>
                        </ul>
                        <!--/ul -->
                        <partial name="_LoginPartial" />
                    </div>
                    <!--collapse -->
                </div>
                <!-- /container -->
            </div>
            <!-- /navbar -->
        </nav>
        <!-- /nav -->
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- ==== footer ==== -->
    <footer class="text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png" style="block-size: 200px" alt="ForAnimalsWithLove">
                    </a>
                </div>
                <!--/ col-lg -->
                <div class="col-lg-3">
                    <h6><i class="fas fa-envelope margin-icon"></i>Свържи се с нас</h6>
                    <ul class="list-unstyled">
                        <li>0700 12 323</li>
                        <li>office@foranimalswithlove.bg</a></li>
                        <li>Pet Street 123 - Sofia </li>
                    </ul>
                    <!--/ul -->
                </div>
                <!--/ col-lg -->
                <div class="col-lg-3">
                    <h6><i class="far fa-clock margin-icon"></i>Работно време</h6>
                    <ul class="list-unstyled">
                        <li>Отворено: 0am - 24pm</li>
                    </ul>
                    <!--/ul -->
                </div>
                <!--/ col-lg -->
            </div>

            <!--/ row -->
        </div>
        <!--/ container -->
        <!-- Go To Top Link -->
        <div class="d-none d-md-block">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
        </div>
        <!--/page-scroll-->
    </footer>
    <!--/ footer-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
