<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- page title -->
    <title>For Animals with Love</title>
    <!--[if lt IE 9]>
    <script src="~/js/respond.js"></script>
    <![endif]-->
    <!-- Font files -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="~/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- plugins CSS -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <!-- Colors CSS -->
    <link href="~/styles/maincolors.css" rel="stylesheet">
    <!-- LayerSlider CSS -->
    <link rel="stylesheet" href="~/vendor/layerslider/css/layerslider.css">

   @* <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ForAnimalsWithLove</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ForAnimalsWithLove.styles.css" asp-append-version="true" />

    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">*@
</head>
<body>
    <header>
        <!-- Navbartoggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <!-- menu item -->
                <li class="nav-item">
                    <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">
                       Home
                    </a>
                </li>
                <!-- menu item -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="services-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Home" asp-action="Privacy">
                        Отделения
                    </a>
                    <div class="dropdown-menu" aria-labelledby="services-dropdown">
                        <a class="dropdown-item" href="services.html">Services Style 1</a>
                        <a class="dropdown-item" href="services2.html">Services Style 2</a>
                        <a class="dropdown-item" href="services-single.html">Services Single</a>
                    </div>
                </li>
                <!-- menu item -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="about-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Home" asp-action="Privacy">
                        За нас
                    </a>
                    <div class="dropdown-menu" aria-labelledby="about-dropdown">
                        <a class="dropdown-item" href="about.html">About Style 1</a>
                        <a class="dropdown-item" href="about2.html">About Style 2</a>
                    </div>
                </li>
                <!-- menu item -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="adopt-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Осинови
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adopt-dropdown">
                        <a class="dropdown-item" href="adoption.html">Adoption Gallery</a>
                        <a class="dropdown-item" href="adoption-single.html">Adoption Single Page</a>
                    </div>
                </li>
                <!-- menu item -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="gallery-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Home" asp-action="Privacy">
                        Полезна информация
                    </a>
                    <div class="dropdown-menu" aria-labelledby="gallery-dropdown">
                        <a class="dropdown-item" href="gallery.html">Gallery Style 1</a>
                        <a class="dropdown-item" href="gallery2.html">Gallery Style 2</a>
                    </div>
                </li>
                <!-- menu item -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="contact-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Home" asp-action="Privacy">
                        Контакти
                    </a>
                    <div class="dropdown-menu" aria-labelledby="contact-dropdown">
                        <a class="dropdown-item" href="contact.html">Contact Style 1</a>
                        <a class="dropdown-item" href="contact2.html">Contact Style 2</a>
                    </div>
                </li>
                <!-- menu item -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="others-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Other pages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="others-dropdown">
                        <a class="dropdown-item" href="team.html">Our Team</a>
                        <a class="dropdown-item" href="blog.html">Blog Home</a>
                        <a class="dropdown-item" href="blog-single.html">Blog Single</a>
                        <a class="dropdown-item" href="elements.html">Elements Page</a>
                        <a class="dropdown-item" href="404.html">404 Page</a>
                    </div>
                </li>
            </ul>
            <partial name="_LoginPartial" />
            <!--/ul -->
        </nav>
        <!--collapse -->
        <!-- /navbar -->
       @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="logo btn-link">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png" alt="ForAnimalsWithLove"/>
					</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">За нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Отделения</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Полезна информация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Контакти</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; ForAnimalsWithLove - 2023
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
