@using ForAnimalsWithLove.Data.Service.Interfaces;
@using ForAnimalsWithLove.Data.Service.Services;
@using ForAnimalsWithLove.Infrastructure.Extensions;
@using Microsoft.AspNetCore.Identity
@using ForAnimalsWithLove.Data.Models
@inject IAdminService AdminService
@{
	bool isAdmin = await AdminService.AdminExistByUserIdAsync(this.User.GetId()!);
	var admin = await AdminService.GetAdminExistByUserIdAsync(this.User.GetId()!);

}
@inject ITrainerService TrainerService
@{
	var isTrainer = await TrainerService.TrainerExistByUserIdAsync(this.User.GetId()!);
	var trainer = await TrainerService.GetTrainerExistByUserIdAsync(this.User.GetId()!);
}
@inject IDoctorService DoctorService
@{
	var isDoctor = await DoctorService.DoctorExistByUserIdAsync(this.User.GetId()!);
	var doctor = await DoctorService.GetDoctorExistByUserIdAsync(this.User.GetId()!);
}
@inject IOwnerService OwnerService
@{
	var isOwner = await OwnerService.OwnerExistByUserIdAsync(this.User.GetId()!);
	var userId = this.User.GetId();
	var owner = await OwnerService.GetOwnerExistByUserIdAsync(userId!);
}

@{
	var name = "";
	if (isAdmin)
	{
		name = admin.FirstName;
	}
	else if (isOwner)
	{
		name = owner.FirstName;
	}
	else if (isTrainer)
	{
		name = trainer.FirstName;
	}
	else if (isDoctor)
	{
		name = doctor.FirstName;
	}

}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User) & this.User.Identity?.IsAuthenticated ?? false)
{
	@if (isAdmin)
	{
		<div class="container">
			<a class="navbar-brand" asp-controller="Home" asp-action="Index">
				<img src="~/images/logo.png" style="block-size: 80px" alt="ForAnimalsWithLove">
			</a>
		</div>
	}
	@if (isOwner)
	{
		<div class="container">

			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-2">
					<!-- menu item -->
					<li class="nav-item">
						<a class="nav-link " id="services" asp-controller="Owner" asp-action="MyAnimalDetails" asp-route-id="@userId">
							Моите любимци
						</a>
					</li>
				</ul>
			</div>
		</div>
	}
	@if (isTrainer)
	{
		<div class="container">
			<a class="navbar-brand" asp-controller="Home" asp-action="Index">
				<img src="~/images/logo.png" style="block-size: 80px" alt="ForAnimalsWithLove">
			</a>
		</div>
	}
	@if (isDoctor)
	{
		<div class="container">
			<a class="navbar-brand" asp-controller="Home" asp-action="Index">
				<img src="~/images/logo.png" style="block-size: 80px" alt="ForAnimalsWithLove">
			</a>
		</div>
	}



	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @name!</a>
		</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
			</form>
		</li>
	</ul>

}
else
{
	<div class="container">
		<!-- logo -->
		<a class="navbar-brand" asp-controller="Home" asp-action="Index">
			<img src="~/images/logo.png" style="block-size: 80px" alt="ForAnimalsWithLove">
		</a>
		<!-- Navbartoggler -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggle-icon">
				<i class="fas fa-bars"></i>
			</span>
		</button>
		<!-- /Navbar toggler -->
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ms-2">
				<!-- menu item -->
				<li class="nav-item">
					<a class="nav-link" asp-controller="Home" asp-action="About">
						За нас
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="services-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Нашият екип
					</a>
					<div class="dropdown-menu" aria-labelledby="services-dropdown">
						<a class="dropdown-item" asp-controller="GenerateHome" asp-action="TeamVet">Ветеринари</a>
						<a class="dropdown-item" asp-controller="GenerateHome" asp-action="TeamTrainer">Треньори</a>
					</div>
				</li>
				<!-- menu item -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="services-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Нашите услуги
					</a>
					<div class="dropdown-menu" aria-labelledby="services-dropdown">
						<a class="dropdown-item" asp-controller="Home" asp-action="Halls">Отделения</a>
						<a class="dropdown-item" asp-controller="Home" asp-action="Education">Обучение</a>
						<a class="dropdown-item" asp-controller="Home" asp-action="Hotels">Хотелско настаняване</a>
						<a class="dropdown-item" asp-controller="Home" asp-action="Grooming">Grooming</a>
					</div>
				</li>
				<!-- menu item -->
				<li class="nav-item">
					<a class="nav-link" id="about-dropdown" asp-controller="GenerateHome" asp-action="Aboption" aria-haspopup="true" aria-expanded="false">
						Осинови
					</a>
				</li>
				<!-- menu item -->
				<li class="nav-item">
					<a class="nav-link" id="contact-dropdown" asp-controller="Home" asp-action="Contact" aria-haspopup="true" aria-expanded="false">
						Контакти
					</a>
				</li>
			</ul>

		</div>
		<ul class="navbar-nav ms-2">
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
			</li>
		</ul>
	</div>

}
