<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
    <script src="~/js/respond.js"></script>
    <![endif]-->
    <!-- Font files -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="~/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- plugins CSS -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <!-- Colors CSS -->
    <link href="~/styles/maincolors.css" rel="stylesheet">
    <!-- LayerSlider CSS -->
    <link rel="stylesheet" href="~/vendor/layerslider/css/layerslider.css">
</head>
<!-- ==== body starts ==== -->
<body id="top">
    <!-- ==== Page Content ==== -->
    <div class="page">
        <div class="container block-padding pt-0">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <p>
                        Успешното обучение е възнаграждаваща част от притежаването на куче, както и прекрасен начин за вас двамата 
                        да се свържете и да изградите добри отношения. Независимо дали са млади или стари, всички кучета могат да се 
                        възползват от изучаването на някои основни команди. Ако основните неща като седни, долу, остани и си тръгни 
                        са това, което търсите, не търсете повече...
                    </p>
                    <p>
                        Какви са ползите от обучението на моето куче?
                        Обучението на кучето ви на основно подчинение - като сядане, изчакване и връщане при повикване - му дава 
                        свободата да прави нещата, които обичат, като да бяга от повода и да идва с вас, за да се срещне с приятели и
                        семейство, като същевременно е в безопасност и под контрол. Нещо повече, кучетата са интелигентни животни и повечето обичат да учат, 
                        така че обучението може да бъде чудесен начин да им попречите да скучаят.

                    </p>
                </div>
                <!-- image -->
                <div class="col-lg-6">
                    <img src="~/images/education-1.jpg" alt="education" class="img-fluid border-irregular1" data-aos="zoom-in">
                </div>
            </div>
            <!-- /row -->
        </div>
        <div class="container block-padding pt-0">
            <div class="row">
                <!-- image -->
                <div class="col-lg-6">
                    <img src="~/images/education-2.jpg" alt="education" class="img-fluid border-irregular1" data-aos="zoom-in">
                </div>
                <div class="col-lg-6 my-auto">
                    <p>
                        Цялото обучение трябва да се основава на възнаграждение. Ако дадете на вашето куче нещо, което наистина харесва - като храна,
                        играчки или похвала - когато покаже определено поведение, означава, че е по-вероятно да го направи отново.
                        Важно е да разберете какво наистина харесва вашето куче и кои са любимите му неща. Любимите лакомства често са малки 
                        парчета месо или сирене. Колкото по-добра е наградата, толкова повече вашето куче ще се наслаждава на обучението и ученето!
                    </p>
                    <p>
                        Топ съвети за обучение:
                    </p>
                    <ul class="custom ps-0">
                        <li>Минимизирайте разсейването - винаги започвайте уроци за нови трикове в тиха стая в къщата си, далеч от всякакви разсейвания</li>
                        <li>Разделете обучението на кратки, но редовни сесии, така че кучето ви да не се претоварва</li>
                        <li>Бъдете търпеливи - точно като нас, всички кучета учат с различна скорост, така че не се притеснявайте, ако кучето ви не разбере нещата веднага</li>
                        <li>Винаги завършвайте с нещо, което вашето куче знае, така че сесията да завърши положително</li>
                        <li>Забавлявайте се - обучението е чудесен начин да се свържете с кучето си!</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>

        <!-- button -->
        <a asp-controller="Home" asp-action="Contact" class="btn btn-primary col-lg-6">Ако имаш нужда от помощ, заповядай при нас!</a>
        <a asp-controller="Home" asp-action="TeamTrainer" class="btn btn-primary col-lg-5">Запознай се с нашия екип</a>

    </div>
    <!-- /page -->
    <!-- Bootstrap core & Jquery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/plugins.js"></script>
    <!-- Prefix free -->
    <script src="~/js/prefixfree.min.js"></script>
    <!-- number counter script -->
    <script src="~/js/counter.js"></script>
</body>
</html>
