@using ForAnimalsWithLove.ViewModels;
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


    <!-- ==== Page Content ==== -->
    <div class="page paws-house-bg1">
        <div class="container">
                <img src="~/images/404error.jpg" style="height: 800px; padding-top: 25px;padding-bottom: 25px;" alt="error" class="center-block img-fluid float-right">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary col-md-4"> Върни ме в началната страница</a>
               
            <!-- /container -->
        </div>
    </div>
  