
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
    <script src="~/js/respond.js"></script>
    <![endif]-->
    <!-- Font files -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="~/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- plugins CSS -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <!-- Colors CSS -->
    <link href="~/styles/maincolors.css" rel="stylesheet">
    <!-- LayerSlider CSS -->
    <link rel="stylesheet" href="~/vendor/layerslider/css/layerslider.css">
</head>
<!-- ==== body starts ==== -->
<body id="top">
    <!-- ==== Page Content ==== -->
    <div class="page">
        <div class="container block-padding pt-0">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/images/grooming-1.jpg" alt="grooming" class="img-fluid border-irregular1" data-aos="zoom-in">
                </div>
                <div class="col-lg-6 my-auto">
                    <p>
                        Професионални стилисти с над 800 часа обучение и 6 месеца практика.
                        Услугите за назначаване включват пълна услуга за подстригване и къпане.
                        Услугите за посещение включват подстригване на ноктите, шлайфане на ноктите, 
                        дикюр на лапите, четкане на зъбите, услуги за почистване на уши, подстригване, дематиране и други.
                        Експресни услуги, включващи непрекъснати салонни услуги, които ограничават времето, което вашият
                        домашен любимец прекарва в салона.
                        Избрани местоположения предлагат услуги за подстригване и къпане на котки, като подстригване
                        на ноктите, поставяне на капачки на ноктите, почистване на уши и санитарно подстригване
                        Ние използваме изключителната модерна Hydrosurge BathPro 9.0.
                    </p>
                    <p>
                        От оставяне до вземане
                        Нашите срещи за подстригване могат да отнемат от 2 до 4 часа в зависимост от размера на вашето куче,
                        вида на козината и избраните от вас услуги.
                    </p>
                </div>
                    
                <section>
                <div>
                    <h5 class ="col-lg-6">Услуги, който може да намерите при нас:</h5>
                    <ul class="custom ps-0">
                        <li><strong>Практическа оценка на домашни любимци: 5-10 минути</strong> - Един от нашите сътрудници
                            в салона, сертифициран за безопасност, ще направи оценка на кожата, козината, ушите, ноктите 
                            и зъбите на вашия домашен любимец, така че да може правилно да отговори на техните уникални
                            нужди. Въпреки че нашите стилисти вземат под внимание всякакви поведенчески или здравословни
                            проблеми, това е чудесен момент да ни уведомите за всякакви допълнителни опасения, предпочитания 
                            или индивидуални изисквания.
                        </li>
                        <li><strong>Четкане и подстригванe: 10-30 минути</strong> - Вашият стилист за домашни любимци 
                            ще започне с четкане, сресване и подстригване на вашия домашен любимец, за да премахне
                            излишните косми или заплитания, преди да се изкъпе. Те също така ще подрежат ноктите на
                            домашния любимец и ще почистят ушите му.
                        </li>
                        <li><strong>Релаксираща вана: 10-30 минути</strong> - Релаксиращата ни система за баня
                            превръща времето във ваната в приятно изживяване. Вашият салонен експерт ще започне
                            с измиване на вашия домашен любимец с шампоана/балсама, за който сте се договорили при 
                            настаняването. Всички шампоани и балсами, които използваме, са pH-балансирани специално 
                            за домашни любимци и осигуряват нежно почистване, без да изсушават кожата на вашия домашен 
                            любимец.
                        </li>
                        <li><strong>Персонализирано сушене: 30 минути+</strong>- Процесът на сушене започва с нежно 
                            подсушаване с кърпа върху лицето, ушите и опашката на вашия домашен любимец. Нашите сушилни
                            не се нагряват и имат регулируеми обороти. Различните породи имат различни нужди и всеки домашен 
                            любимец се изсушава внимателно, като се използва най-добрият метод за безопасност и комфорт.
                        </li>
                        <li><strong>Персонализирана прическа и довършителни работи: 30 минути+</strong> - Завършването на
                            прическата на вашия домашен любимец, след като е бил измит и изсушен със сешоар,
                            позволява на вашия стилист да гарантира, че няма допълнително заплитане и осигурява 
                            най-добре изглеждащата прическа. Ако вашият домашен любимец е получил само услуга за
                            къпане или обезлиняване, това време ще се използва за завършване на изчеткването му, 
                            ретуширане на ноктите му, избърсване на ушите му и извършване на всички довършителни работи, 
                            за да бъде готов за вземане.
                        </li>
                       
                    </ul>
                    <!-- /ul -->
                </div>
                </section>
               
            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- /page -->
    <!-- Bootstrap core & Jquery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/plugins.js"></script>
    <!-- Prefix free -->
    <script src="~/js/prefixfree.min.js"></script>
    <!-- number counter script -->
    <script src="~/js/counter.js"></script>
</body>
</html>
