
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
    <script src="~/js/respond.js"></script>
    <![endif]-->
    <!-- Font files -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="~/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- plugins CSS -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <!-- Colors CSS -->
    <link href="~/styles/maincolors.css" rel="stylesheet">
    <!-- LayerSlider CSS -->
    <link rel="stylesheet" href="~/vendor/layerslider/css/layerslider.css">
</head>
<!-- ==== body starts ==== -->
<body id="top">
    <!-- ==== Page Content ==== -->
    <div class="page">
        <div class="page pb-0">
            <div class="section-heading" data-aos="zoom-in">
                <h3>Вътрешни болести</h3>
            </div>
        </div>
        <div class="container block-padding pt-0">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <p>
                        Вътрешната медицина във ветеринарната област се фокусира върху много от същите заболявания като вътрешната медицина при хората.
                    </p>
                    <p>
                        Заболяванията на стомашно-чревната, чернодробната, бъбречната, урогениталната, съдовата и белодробната
                        система често са комплексни. Поставянето на диагнози може да бъде трудно поради много причини, една от които е, 
                        че клиничните признаци могат да бъдат показателни за много различни заболявания.Много от болестите, които лекуваме, 
                        са болезнени или поне карат кучетата и котките да се чувстват доста неудобно. По време на лечението ние се фокусираме
                        върху комфорта на нашите пациенти, докато работим за излекуване.
                    </p>

                    <p>
                        Имаме късмета да работим с други висококвалифицирани специалисти, за да гарантираме, че ще го направим правилно,
                        така че да можем да персонализираме най-добрите планове за лечение за всеки домашен любимец, който виждаме.
                    </p>
                </div>
                <!-- image -->
                <div class="col-lg-6">
                    <img src="~/images/cat.jpg" alt="cat" class="img-fluid border-irregular1" data-aos="zoom-in">
                </div>
            </div>
            <!-- /row -->
        </div>
        <div class="section-heading" data-aos="zoom-in">
            <h3>Кардиология и съдова хирургия</h3>
        </div>
        <div class="container block-padding pt-0">
            <div class="row">
                <!-- image -->
                <div class="col-lg-6">
                    <img src="~/images/dog-cardiology.jpg" alt="dog" class="img-fluid border-irregular1" data-aos="zoom-in">
                </div>
                <div class="col-lg-6 my-auto">
                    <p>
                        Нашето отделение се фокусира върху диагностиката и лечението на сърдечни заболявания при кучета и котки.
                        Животните могат да развият сърдечно заболяване на всяка възраст. Някои заболявания може да са доста леки и да 
                        изискват само периодично наблюдение, но други могат да бъдат доста сериозни и да изискват лекарства и
                        често наблюдение както у дома, така и в нашата клиника.
                    </p>
                    <p>
                        За да разберем колко сериозно е сърдечното заболяване на пациента, ние често правим диагностични тестове, които включват:
                    </p>
                    <ul class="custom ps-0">
                        <li>Ехокардиограма</li>
                        <li>Електрокардиограма</li>
                        <li>Измерване на кръвното налягане</li>
                        <li>Торакални рентгенографии</li>
                        <li>Холтер монитор</li>
                        <li>Кръвни изследвания</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
            <div class="section-heading" data-aos="zoom-in">
                <h3>Обща хирургия и травматология</h3>
            </div>
        <div class="container block-padding pt-0">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <p>
                        <strong>For Animals With Love</strong> предлага хирургично съоръжение с пълен набор от услуги,
                        поддържано от персонал от висококвалифицирани специалисти и опитни ветеринарни лекари.
                    </p>
                    <p>
                        Сертифицираните хирурзи са обучени във всички аспекти на хирургията, включително меки тъкани
                        (коремна, гръдна, онкологична, реконструктивна), ортопедични и неврологични процедури. 
                        Нашите хирурзи имат достъп на място до най-модерното диагностично оборудване, включително дигитална радиография,
                        компютърна томография и ядрено-магнитен резонанс (MRI).
                        Хирурзите на <strong>For Animals With Love</strong> са част от екип от лекари, ангажирани да осигурят възможно най-добрата грижа
                        за вашия домашен любимец. Отделението по хирургия работи в сътрудничество с нашите интернисти,
                        онколози и други специалисти, ако е необходимо, за да осигури най-добрата цялостна медицинска и
                        хирургическа грижа за вашия домашен любимец.
                    </p>

                    <p>
                        След първоначална оценка вашият хирург от <strong>For Animals With Love</strong> препоръчва диагностика
                        и преглежда наличните възможности за лечение. Когато е възможно, нашите хирурзи използват минимално инвазивни 
                        хирургични техники, включително артроскопия (стави), лапароскопия (корем) и торакоскопия (гръден кош). 
                        Тези техники са не само по-малко инвазивни, но водят до по-малко следоперативна болка и често по-кратко време за хоспитализация.
                        Наред с най-модерните хирургични грижи, нашите хирурзи поддържат силен фокус върху управлението на болката,
                        за да осигурят комфорта на вашия домашен любимец и да намалят нивата на стрес по време на лечението.
                    </p>
                </div>
                <!-- image -->
                <div class="col-lg-6">
                    <img src="~/images/horses.jpg" alt="horses" class="img-fluid border-irregular1" data-aos="zoom-in">
                </div>
            </div>
            <!-- /row -->
        </div>
        <div class="section-heading" data-aos="zoom-in">
            <h3>Акушерство и гинекология</h3>
        </div>
        <div class="container block-padding pt-0">
            <div class="row">
                <!-- image -->
                <div class="col-lg-6">
                    <img src="~/images/babies.jpg" alt="babies" class="img-fluid border-irregular1" data-aos="zoom-in">
                </div>
                <div class="col-lg-6 my-auto">
                    <p>
                        Ветеринарното акушерство е клон на ветеринарната медицина, който се занимава с медицински и хирургични грижи,
                        заедно с манипулации на женските животни по време на заплождане, бременност, раждане, пуерпериум (следродилен период) 
                        и грижи за новороденото.
                    </p>
                    <p>
                        Ветеринарната репродукция и акушерство е клон на ветеринарната наука, който играе важна роля в защитата 
                        на репродуктивното здраве на животните, предотвратяването и контролирането на репродуктивните заболявания
                        и насърчаването на животновъдството.
                    </p>
                </div>
            </div>
            <div class="section-heading" data-aos="zoom-in">
                <h3>Онкология</h3>
            </div>
            <div class="container block-padding pt-0">
                <div class="row">
                    <div class="col-lg-6 my-auto">
                        <p>
                            В <strong>For Animals With Love</strong> предлагаме модерна медицина, състрадателна грижа, 
                            експертни съвети и благополучие за домашни любимци с рак. Точно както при хората, домашен любимец
                            с рак обикновено се нуждае от помощта на онколог за диагностициране и лечение на заболяването.
                        </p>
                        <p>
                            Ветеринарните онколози на <strong>For Animals With Love</strong> определят подходящия курс на лечение 
                            и след консултация с вашия препращащ ветеринарен лекар и това партньорство осигурява на вашия домашен 
                            любимец най-високия стандарт на грижа.
                        </p>

                        <p>
                            Разбираме, че диагнозата рак за вашия домашен любимец е опустошителна. Нашата основна цел е да поддържаме
                            най-доброто качество на живот на вашия домашен любимец. Като собственици на домашни любимци,
                            ние разбираме, че всеки домашен любимец и нуждите на неговото или нейното семейство са уникални,
                            поради което подхождаме индивидуално към всеки случай. След задълбочен преглед, преглед на диагностичните тестове
                            и консултация със семейството, ние разработваме персонализиран подход за грижа и обучаваме собствениците
                            на пациентите, за да сме сигурни, че се чувствате комфортно с плановете за лечение на вашия домашен любимец.
                            Специализираните лечения, предлагани от онкологичния екип на <strong>For Animals With Love</strong>, включват:
                        </p>
                        <ul class="custom ps-0">
                            <li>Химиотерапия</li>
                            <li>Имунотерапия</li>
                            <li>Холистични консултации</li>
                            <li>Палиативни или поддържащи грижи</li>
                        </ul>
                    </div>
                    <!-- image -->
                    <div class="col-lg-6">
                        <img src="~/images/dog-cancer.jpg" alt="dog" class="img-fluid border-irregular1" data-aos="zoom-in">
                    </div>
                </div>
                <!-- /row -->
            </div>
            <div class="section-heading" data-aos="zoom-in">
                <h3>Образна диагностика</h3>
            </div>
            <div class="container block-padding pt-0">
                <div class="row">
                    <!-- image -->
                    <div class="col-lg-6">
                        <img src="~/images/rengen.jpg" alt="rengen" class="img-fluid border-irregular1" data-aos="zoom-in">
                    </div>
                    <div class="col-lg-6 my-auto">
                        <p>
                            В <strong>For Animals With Love</strong> с модерна апаратура и висококвалифицирани специалисти, 
                            предлагаме възможно най-добрата диагностика на вашите домашни любимци. Нашите ветеринарни лекари 
                            са обучени да използват най-новите технологии за диагностика на заболяванията на домашни любимци.
                        </p>
                        <ul class="custom ps-0">
                            <li>Дигитална радиография</li>
                            <li>Ехография</li>
                            <li>Компютърна томография</li>
                            <li>Ядрено-магнитен резонанс (MRI)</li>
                        </ul>
                    </div>
                </div>
             </div>
            <div class="section-heading" data-aos="zoom-in">
                <h3>Инфекциозни болести</h3>
            </div>
            <div class="container block-padding pt-0">
                <div class="row">
                    <div class="col-lg-6 my-auto">
                        <p>
                            Kлиниката разполага с голямо разнообразие от бързи серологични тестове за диагностика на голям брой заразни болести,
                            както и разработени схеми за лечение и превенция на същите заболявания. Важна част от борбата с инфекциозните 
                            заболявания е редовната ваксинация.
                            <strong>For Animals With Love</strong> има висока успеваемост в лечението на парвовирозата при кучетата.
                        </p>
                    </div>
                    <!-- image -->
                    <div class="col-lg-6">
                        <img src="~/images/test.jpg" alt="test" class="img-fluid border-irregular1" data-aos="zoom-in">
                    </div>
                </div>
                <!-- /row -->
            </div>
            <div class="section-heading" data-aos="zoom-in">
                <h3>Дерматология и паразитология</h3>
            </div>
            <div class="container block-padding pt-0">
                <div class="row">
                    <!-- image -->
                    <div class="col-lg-6">
                        <img src="~/images/dermatology.jpg" alt="dermatology" class="img-fluid border-irregular1" data-aos="zoom-in">
                    </div>
                    <div class="col-lg-6 my-auto">
                        <p>
                            Нашите лекари имат дългогодишен опит в лечението на сериозни кожни заболявания и алергии.
                            Освен първокласните грижи за домашни любимци, ние правим нашата клиника удобна, приятелска и спокойна,
                            така че вашият домашен любимец да може да се отпусне в чакалнята и да очаква с нетърпение да се срещне с нашия персонал.
                        </p>
                        <p>
                            Щастливи сме да предложим редица ресурси, които ви позволяват да научите как да се грижите по-добре за 
                            вашите домашни любимци. Най-добрата ветеринарна помощ изисква непрекъснато обучение и предотвратяване на проблеми.
                            Ние се стремим да бъдем в челните редици на ветеринарното дерматологично образование и лечение.
                        </p>
                    </div>
                </div>
            </div>
            <div class="section-heading" data-aos="zoom-in">
                <h3>Дентална медицина</h3>
            </div>
            <div class="container block-padding pt-0">
                <div class="row">
                    <div class="col-lg-6 my-auto">
                        <p>
                            Една от най-важните области на ветеринарната стоматология е, че се занимава с пародонтоза,
                            най-често срещаното заболяване на зъбите при кучета и котки. Домашни любимци на възраст от три години могат да
                            покажат ранни признаци на пародонтално заболяване, което ще се влоши, ако не се вземат ефективни превантивни мерки.
                            Ранното откриване и лечение са критични, тъй като напредналото пародонтално заболяване може да причини сериозни проблеми и болка.
                        </p>
                    </div>
                    <!-- image -->
                    <div class="col-lg-6">
                        <img src="~/images/dental.jpg" alt="dental" class="img-fluid border-irregular1" data-aos="zoom-in">
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /row -->
        </div>

    </div>
    <!-- /page -->
    <!-- Bootstrap core & Jquery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/plugins.js"></script>
    <!-- Prefix free -->
    <script src="~/js/prefixfree.min.js"></script>
    <!-- number counter script -->
    <script src="~/js/counter.js"></script>
</body>
</html>
