
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
    <script src="~/js/respond.js"></script>
    <![endif]-->
    <!-- Font files -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="~/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- plugins CSS -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <!-- Colors CSS -->
    <link href="~/styles/maincolors.css" rel="stylesheet">
    <!-- LayerSlider CSS -->
    <link rel="stylesheet" href="~/vendor/layerslider/css/layerslider.css">
</head>
<!-- ==== body starts ==== -->
<body id="top">
    <!-- ==== Page Content ==== -->
    <div class="page">
        <div class="section-heading" data-aos="zoom-in">
            <h3>Forest Hotel</h3>
            <h5>гр. Банско</h5>
        </div>
        <div class="container block-padding pt-0">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <p>
                        <strong>For Animals With Love</strong> предлага невероятен хотел за домашни любимци, който е създаден с една цел - да осигури
                        най-добрата грижа за вашите домашни любимци, докато сте далеч от тях. Нашите клиенти са доволни от
                        услугите, които предлагаме, и се връщат отново и отново. 
                    </p>
                    <p>
                        Forest Hotel се намира в покрайнините на гр. Банско, обграден от невероятна природа и чист въздух.
                        Тук вашите домашни любимци ще се насладят на невероятна грижа и ще се чувстват като у дома си.
                        
                    </p>
                    <p><strong>Цени:</strong></p>
                    <ul class="custom ps-0">
                        <li>30 лв. на ден</li>
                        <li>При резервация за повече от 7 дни, получавате 15% отстъпка от цялата сума</li>
                        <li>При два домашни любимеца, за втория получавате отстъпка 10%</li>
                    </ul>
                    
                </div>
                <!-- image -->
                <div class="col-lg-6">
                    <img src="~/images/banskohotel.jpg" alt="hotel" class="img-fluid border-irregular1" data-aos="zoom-in">
                </div>
            </div>
            <!-- /row -->
        </div>
        <div class="section-heading" data-aos="zoom-in">
            <h3>City Hotel</h3>
            <h5>гр. София</h5>
        </div>
        <div class="container block-padding pt-0">
            <div class="row">
                <!-- image -->
                <div class="col-lg-6">
                    <img src="~/images/cityhotel.jpg" alt="hotel" class="img-fluid border-irregular1" data-aos="zoom-in">
                </div>
                <div class="col-lg-6 my-auto">
                    <p>
                        <strong>For Animals With Love</strong> ви представя градския си хотел, който се намира в крайната част на гр. София.
                        Идеален е за хора, които живеят в града и искат да се погрижат за домашните си любимци, докато са на
                        работа или на път.
                    </p>
                    <p>
                        Вашите любимци ще са обгрижвани специално от нашия персонал, който ще се погрижи за тях, докато вие
                        сте далеч от тях. Ще бъдат спазени всички ваши специални изисквания и ще получавате снимки на вашия 
                        любимец, за да може и вие да сте спокойни. 
                    </p>
                    <p><strong>Цени:</strong></p>
                    <ul class="custom ps-0">
                        <li>50 лв. на ден</li>
                        <li>При резервация за повече от 8 дни, получавате 15% отстъпка от цялата сума</li>
                        <li>При два домашни любимеца, за втория получавате отстъпка 20%</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>

    </div>
    <!-- /page -->
    <!-- Bootstrap core & Jquery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/plugins.js"></script>
    <!-- Prefix free -->
    <script src="~/js/prefixfree.min.js"></script>
    <!-- number counter script -->
    <script src="~/js/counter.js"></script>
</body>
</html>
