@using ForAnimalsWithLove.ViewModels.IndexModels;
@model IndexCountsModel;

@{
    var animalsCount = Model.AnimalsCount * 3;
    var doctorsCount = Model.DoctorCount;
    var adoptCount = Model.ForAdoptionCount * 2;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- page title -->
    <title>For Animals with Love</title>
   <!--[if lt IE 9]>
    <script src="~/js/respond.js"></script>
   
    <!-- Font files -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="~/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- plugins CSS -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <!-- Colors CSS -->
    <link href="~/styles/maincolors.css" rel="stylesheet">
    <!-- LayerSlider CSS -->
    <link rel="stylesheet" href="~/vendor/layerslider/css/layerslider.css" data-inprogress>

</head>
<!-- ==== body starts ==== -->
<body id="top">
    <!-- Preloader-->
    <div id="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
        </div>
    </div>
  
    <div id="slider" style="width:1200px;height:800px;margin:0 auto;margin-bottom: 0px;">
        <!-- Slide 1 -->
        <div class="ls-slide" data-ls="duration:1400; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="~/images/foradopt.jpg" class="ls-bg" alt="dog-adopt">
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
                <div class="header-text dog-elements">
                    <h1>Осинови днес!</h1>
                    <!--the div below is hidden on small screens  -->
                    <div class="d-none d-sm-block">
                        <p class="header-p">Виж нашата секция, в която може да намериш всички сладури, които си търсят дом!</p>
                        <a class="btn btn-primary" asp-controller="GenerateHome" asp-action="Aboption">Осинови днес</a>
                    </div>
                    <!--/d-none  -->
                </div>
                <!-- header-text  -->
            </div>
            <!-- ls-l  -->
        </div>
        <!-- ls-slide -->
        <!-- Slide 2 -->
        <div class="ls-slide" data-ls="duration:1400; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="~/images/catveterinary.jpg" class="ls-bg" alt="cat">
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
                <div class="header-text cat-elements">
                    <h1>Търсите ветеринар?</h1>
                    <!--the div below is hidden on small screens  -->
                    <div class="d-none d-sm-block">
                        <p class="header-p">Посетете ни още днес, при нас ще намерите най-добрите ветеринари!</p>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Contact">Свържи се с нас</a>
                    </div>
                    <!--/d-none  -->
                </div>
                <!-- header-text  -->
            </div>
            <!-- ls-l  -->
        </div>
        <!-- ls-slide -->
        <!-- Slide 3 -->
        <div class="ls-slide" data-ls="duration:1400; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="~/images/dog-hotel.jpg" class="ls-bg" alt="hotels">
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
                <div class="header-text dog-elements">
                    <h1>Посетете нашите хотели</h1>
                    <!--the div below is hidden on small screens  -->
                    <div class="d-none d-sm-block">
                        <p class="header-p">При нас ще намерите най-добрите условия за вашите любимци</p>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Hotels">Хотелско настаняване</a>
                    </div>
                    <!--/d-none  -->
                </div>
                <!-- header-text  -->
            </div>
            <!-- ls-l  -->
        </div>
        <!-- ls-slide -->
        <!-- Slide 4 -->
        <div class="ls-slide" data-ls="duration:1400; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="~/images/trainerdog.jpg" class="ls-bg" alt="trainerdog">
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
                <div class="header-text cat-elements">
                    <h1>Опитни треньори</h1>
                    <!-- the div below is hidden on small screens  -->
                    <div class="d-none d-sm-block">
                        <p class="header-p">Вашият любимец е в добри ръце с нашите професионални треньори</p>
                        <a class="btn btn-primary" asp-controller="GenerateHome" asp-action="TeamTrainer">Нашият екип</a>
                    </div>
                    <!--/d-none  -->
                </div>
                <!-- header-text  -->
            </div>
            <!-- ls-l -->
        </div>
        <!-- Slide 5 -->
        <div class="ls-slide" data-ls="duration:1400; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="~/images/petgrooming.jpg" class="ls-bg" alt="trainerdog">
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
                <div class="header-text cat-elements">
                    <h1>Grooming</h1>
                    <!-- the div below is hidden on small screens  -->
                    <div class="d-none d-sm-block">
                        <p class="header-p">Вашият любимец се нуждае от глезене?</p>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Grooming">Вижте какво предлагаме</a>
                    </div>
                    <!--/d-none  -->
                </div>
                <!-- header-text  -->
            </div>
            <!-- ls-l -->
        </div>
        <!-- ls-slide -->
    </div>
    <!-- /slider -->
    <!-- ==== Page Content ==== -->
    <!-- Section services -->
    <section id="services" class="cat-bg3">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Нашите услуги</h2>
            </div>
            <!-- /Section-heading -->
            <div class="container block-padding pt-0">
                <div class="row">
                    <div class="col-xl-6 my-auto">
                        <h3>Най-доброто за вашия любимец!</h3>
                        <p>Тук ще откриете най-добрата грижа за вашите малки приятели от грижа за физическото им здраве
                            до спа процедури на световно ниво, предназначени за обичните ви! Ще се отнесем с грижа и 
                            разбиране към всеки ваш проблем, като ще Ви съдействаме по най-добрия начин! Може да разчитате
                            на нас!</p>
                        <p><strong>При нас ще откриете най-доброто за вашият любимец!</strong></p>
                        <!-- ul custom-->
                        <ul class="custom ps-0">
                            <li>Медицинска и болнична грижа</li>
                            <li>Хотелско настаняване</li>
                            <li>Обучение</li>
                            <li>Grooming услуги</li>
                        </ul>
                    </div>
                    <!-- /col-xl-->
                    <div class="col-xl-6">
                        <img src="~/images/dog-grooming.jpg" alt="dog-grooming" data-aos="fade-down" data-aos-duration="1500" class="img-fluid border-irregular1 border-double">
                    </div>
                </div>
                <!-- /row -->
            </div>
        </div>
        <!-- /container -->
    </section>
    <!-- / Section Ends -->
    <!-- Section Blurb -->
    <section id="blurb" class="bg-primary text-light">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 position-relative">
                    <!-- image  -->
                    <img src="~/images/cat-comeon.jpg" style="block-size: 550px" alt="cat-comeon">
                </div>
                <div class="col-xl-2 my-auto" data-aos="fade-down">
                    <h2 class="res-margin">Присъедини се към нас!</h2>
                    <p class="featured-text">
                        Заповядай на място в клиниката ни с твоя любимец и ще се погрижим за него!
                    </p>
                    <!-- button -->
                    <a asp-controller="Home" asp-action="Contact" class="btn btn-primary">Контакти</a>
                </div>
                <!-- /col-lg -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- SVG effect -->
    <svg id="bigTriangleColor" class="d-none d-sm-block" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z" />
    </svg>
    <!-- / Section Ends -->
    <!-- Section About Us -->
    <section id="about" class="dog-bg2">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Малко повече...</h2>
            </div>
            <!-- /Section-heading -->
        </div>
        <!-- /container -->
        <div class="container block-padding pt-0">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h3>Предлагаме Ви всичко на едно място!</h3>
                    <p>Заповядайте при нас за да ви помогнем с обучението на вашия любимец. 
                        Нашите треньори са професионалисти и ще се погрижат за него с грижа и любов.
                    </p>
                    <p>Ако вашият любимец се нуждае от почивка, ние може да Ви помогнем. Разполагаме с два прекрасни хотела, 
                        в който вашите домашни любимци ще се чувстват като у дома си.
                    </p>
                    <ul class="custom ps-0">
                        <li>Тренировка и обучение</li>
                        <li>Отдих в планината</li>
                        <li>Почивка в градска среда</li>
                    </ul>
                    <!-- /ul -->
                </div>
                <!-- image -->
                <div class="col-lg-6">
                    <img src="~/images/dog-educate.jpg" alt="dog-educate" class="img-fluid border-irregular1" data-aos="zoom-in">
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
        <div class="bg-light-custom block-padding">
            <div class="container">
                <div id="counter" class="row">
                    <!-- Counter -->
                    <div class="col-xl-3 col-md-6">
                        <div class="counter">
                            <i class="counter-icon fa fa-users"></i>
                            <!-- insert your final value on data-count= -->
                            <div class="counter-value" data-count="@animalsCount">0</div>
                            <h3 class="title">Щастливи клиенти</h3>
                        </div>
                        <!-- /counter -->
                    </div>
                    <!-- /col-lg -->
                    <!-- Counter -->
                    <div class="col-xl-3 col-md-6">
                        <div class="counter">
                            <i class="counter-icon flaticon-dog-in-front-of-a-man"></i>
                            <!-- insert your final value on data-count= -->
                            <div class="counter-value" data-count="@doctorsCount">0</div>
                            <h3 class="title">Професионалисти</h3>
                        </div>
                        <!-- /counter -->
                    </div>
                    <!-- /col-lg -->
                    <!-- Counter -->
                    <div class="col-xl-3 col-md-6">
                        <div class="counter">
                            <i class="counter-icon flaticon-dog-2"></i>
                            <!-- insert your final value on data-count= -->
                            <div class="counter-value" data-count="@adoptCount">0</div>
                            <h3 class="title">Осиновени</h3>
                        </div>
                        <!-- /counter -->
                    </div>
                    <!-- Counter -->
                    <div class="col-xl-3 col-md-6">
                        <div class="counter">
                            <i class="counter-icon flaticon-prize-badge-with-paw-print"></i>
                            <!-- insert your final value on data-count= -->
                            <div class="counter-value" data-count="3">0</div>
                            <h3 class="title">Награди</h3>
                        </div>
                        <!-- /counter -->
                    </div>
                    <!-- /col-lg -->
                    <!-- Counter -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
    </section>
    <!-- / Section Ends -->
    <!-- Section Contact -->
    <section id="contact" class="dog-bg3">
        <!-- /container -->
        <div class="container">
            <!-- /row-->
            <div class="row res-margin mt-5">
                <div class="col-lg-6 mt-5">
                    <div class="contact-icon">
                        <!---icon-->
                        <i class="fa fa-envelope top-icon"></i>
                        <!-- contact-icon info-->
                        <div class="contact-icon-info">
                            <h5>Пиши ни</h5>
                            <p class="h7"><a href="mailto:email@yoursite.com">office@foranimalswithlove.bg</a></p>
                        </div>
                    </div>
                </div>
                <!-- /contact-icon-->
                <div class="col-lg-6 mt-5">
                    <div class="contact-icon">
                        <!---icon-->
                        <i class="fa fa-map-marker top-icon"></i>
                        <!-- contact-icon info-->
                        <div class="contact-icon-info">
                            <h5>Посети ни на място</h5>
                            <p class="h7">Pet Street 123 - Sofia</p>
                        </div>
                    </div>
                </div>
                <!-- /contact-icon-->
                <div class="col-lg-6 mt-5">
                    <div class="contact-icon">
                        <!---icon-->
                        <i class="fa fa-phone top-icon"></i>
                        <!-- contact-icon info-->
                        <div class="contact-icon-info">
                            <h5>Обади ни се още сега</h5>
                            <p class="h7">0700 12 323</p>
                        </div>
                    </div>
                </div>
                <!-- /contact-icon-->
                <div class="col-lg-6 mt-5">
                    <div class="contact-icon">
                        <!---icon-->
                        <i class="fa fa-heart top-icon"></i>
                        <!-- contact-icon info-->
                        <div class="contact-icon-info">
                            <h5>Последвай ни в социалните мрежи</h5>
                            <ul class="social-media">
                                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /contact-icon-->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /Section ends -->
  
    <!-- Bootstrap core & Jquery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/plugins.js"></script>
    <!-- Prefix free -->
    <script src="~/js/prefixfree.min.js"></script>
    <!-- GreenSock -->
    <script src="~/vendor/layerslider/js/greensock.js"></script>
    
    <!-- LayerSlider script files -->
    <script src="~/vendor/layerslider/js/layerslider.transitions.js"></script>
    <script src="~/vendor/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="~/vendor/layerslider/js/layerslider.load.js"></script>
    <!-- Mailchimp script -->
    <script src="~/js/mailchimp.js"></script>
    <!-- number counter script -->
    <script src="~/js/counter.js"></script>
    <!-- Contact Form script -->
    <script src="~/js/contact.js"></script>
    <!-- Map -->
    <script src="~/js/map.js"></script>
</body>
</html>