@model IEnumerable<IndexViewModel>
@{
    var animals = Model.ToList();   
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- page title -->
    <title>For Animals with Love</title>
    <!--[if lt IE 9]>
    <script src="~/js/respond.js"></script>
    <![endif]-->
    <!-- Font files -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="~/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- plugins CSS -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <!-- Colors CSS -->
    <link href="~/styles/maincolors.css" rel="stylesheet">
    <!-- LayerSlider CSS -->
    <link rel="stylesheet" href="~/vendor/layerslider/css/layerslider.css">
</head>
<!-- ==== body starts ==== -->
<body id="top">
    <!-- Preloader-->
    <div id="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
        </div>
    </div>
  
    <div id="slider" style="width:1200px;height:800px;margin:0 auto;margin-bottom: 0px;">
        <!-- Slide 1 -->
        <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="~/images/animals-login.jpg" class="ls-bg" alt="animals">
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
                <div class="header-text dog-elements">
                    <h1>Adopt a pet today!</h1>
                    <!--the div below is hidden on small screens  -->
                    <div class="d-none d-sm-block">
                        <p class="header-p">Search our list of dogs, cats and other pets available for adoption near you</p>
                        <a class="btn btn-primary " href="adoption.html">Adopt Today</a>
                    </div>
                    <!--/d-none  -->
                </div>
                <!-- header-text  -->
            </div>
            <!-- ls-l  -->
        </div>
        <!-- ls-slide -->
        <!-- Slide 2 -->
        <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="~/images/belidog.jpg" class="ls-bg" alt="">
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
                <div class="header-text cat-elements">
                    <h1>High Quality pet food</h1>
                    <!--the div below is hidden on small screens  -->
                    <div class="d-none d-sm-block">
                        <p class="header-p">We have all the best products for your pet, visit our store today!</p>
                        <a class="btn btn-primary " href="contact.html">Contact us</a>
                    </div>
                    <!--/d-none  -->
                </div>
                <!-- header-text  -->
            </div>
            <!-- ls-l  -->
        </div>
        <!-- ls-slide -->
        <!-- Slide 3 -->
        <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="~/images/animals-login.jpg" class="ls-bg" alt="">
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
                <div class="header-text dog-elements">
                    <h1>Visit our Pet Hotel</h1>
                    <!--the div below is hidden on small screens  -->
                    <div class="d-none d-sm-block">
                        <p class="header-p">Our facility is designed to meet the unique needs of your pet</p>
                        <a class="btn btn-primary " href="services.html">Our services</a>
                    </div>
                    <!--/d-none  -->
                </div>
                <!-- header-text  -->
            </div>
            <!-- ls-l  -->
        </div>
        <!-- ls-slide -->
        <!-- Slide 4 -->
        <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="~/images/animals-login.jpg" class="ls-bg" alt="">
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
                <div class="header-text cat-elements">
                    <h1>Experienced Veterinarians</h1>
                    <!-- the div below is hidden on small screens  -->
                    <div class="d-none d-sm-block">
                        <p class="header-p">Your pet is in good hands, meet our highly qualified professionals</p>
                        <a class="btn btn-primary " href="team.html">Our Team</a>
                    </div>
                    <!--/d-none  -->
                </div>
                <!-- header-text  -->
            </div>
            <!-- ls-l -->
        </div>
        <!-- ls-slide -->
    </div>
    <!-- /slider -->
    <!-- ==== Page Content ==== -->
    <!-- Section services -->
    <section id="services" class="cat-bg3">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Our Services</h2>
            </div>
            <!-- /Section-heading -->
            <div class="container block-padding pt-0">
                <div class="row">
                    <div class="col-xl-6 my-auto">
                        <h3>The best for your pet!</h3>
                        <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                        <p><strong>Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall Maecenas at arcu risus scelerisque laoree.</strong></p>
                        <!-- ul custom-->
                        <ul class="custom ps-0">
                            <li>Aliquam erat volut pat.</li>
                            <li>Ibu lum orci eget, viverra elit liquam erat volut pat phas ellus ac.</li>
                            <li>Aliquam erat volut pat phas ellu</li>
                        </ul>
                    </div>
                    <!-- /col-xl-->
                    <div class="col-xl-6">
                        <img src="img/services2.jpg" alt="" data-aos="fade-down" data-aos-duration="1500" class="img-fluid border-irregular1 border-double">
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
            <!-- services carousel -->
            <div class="bg-light-custom block-padding border-irregular1">
                <div id="owl-services" class="container owl-carousel owl-theme">
                    <!-- service 1  -->
                    <div class="col-md-12 p-3">
                        <div class="serviceBox">
                            <!-- service icon -->
                            <div class="service-icon">
                                <i class="flaticon-people-1"></i>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <h6>Fun Activities</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                </p>
                                <a class="btn btn-primary" href="services-single.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- service 2  -->
                    <div class="col-md-12 p-3">
                        <div class="serviceBox">
                            <!-- service icon -->
                            <div class="service-icon">
                                <i class="flaticon-pet-shelter"></i>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <h6>Pet Hotel</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                </p>
                                <a class="btn btn-primary" href="services-single.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- service 3  -->
                    <div class="col-md-12 p-3">
                        <div class="serviceBox">
                            <!-- service icon -->
                            <div class="service-icon">
                                <i class="flaticon-animals-2"></i>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <h6>Grooming Services</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                </p>
                                <a class="btn btn-primary" href="services-single.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- service 4 -->
                    <div class="col-md-12 p-3">
                        <div class="serviceBox">
                            <!-- service icon -->
                            <div class="service-icon">
                                <i class="flaticon-dog-with-first-aid-kit-bag"></i>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <h6>Veterinary 24/7</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                </p>
                                <a class="btn btn-primary" href="services-single.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- service 5 -->
                    <div class="col-md-12 p-3">
                        <div class="serviceBox">
                            <!-- service icon -->
                            <div class="service-icon">
                                <i class="flaticon-syringe"></i>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <h6>Vaccines</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                </p>
                                <a class="btn btn-primary" href="services-single.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- service 6 -->
                    <div class="col-md-12 p-3">
                        <div class="serviceBox">
                            <!-- service icon -->
                            <div class="service-icon">
                                <i class="flaticon-dog-training-3"></i>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <h6>Training</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                </p>
                                <a class="btn btn-primary" href="services-single.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <!--col-md-12  -->
                </div>
                <!-- /owl-services -->
            </div>
            <!-- /bg-light-custom -->
        </div>
        <!-- /container -->
    </section>
    <!-- / Section Ends -->
    <!-- Section Blurb -->
    <section id="blurb" class="bg-primary text-light">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 position-relative">
                    <!-- image  -->
                    <img src="img/blurbimg.png" class="img-fluid blurb-img" alt="">
                </div>
                <div class="col-xl-4 my-auto" data-aos="fade-down">
                    <h2 class="res-margin">Join our club</h2>
                    <p class="featured-text">
                        Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id.
                        In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum.
                    </p>
                    <!-- button -->
                    <a href="contact.html" class="btn btn-primary">contact us</a>
                </div>
                <!-- /col-lg -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- SVG effect -->
    <svg id="bigTriangleColor" class="d-none d-sm-block" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z" />
    </svg>
    <!-- / Section Ends -->
    <!-- Section About Us -->
    <section id="about" class="dog-bg2">
        <div class="container">
            <div class="section-heading text-center">
                <h2>About Us</h2>
            </div>
            <!-- /Section-heading -->
        </div>
        <!-- /container -->
        <div class="container block-padding pt-0">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h3>Caring for your pets</h3>
                    <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                    <p>Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall Maecenas at arcu risus scelerisque laoree.</p>
                    <ul class="custom ps-0">
                        <li>Orci eget, viverra elit liquam erat volut pat phas ellus ac</li>
                        <li>Ipuset phas ellus ac sodales Lorem ipsum dolor Phas ell</li>
                        <li>Aliquam erat volut pat phas ellu</li>
                    </ul>
                    <!-- /ul -->
                </div>
                <!-- image -->
                <div class="col-lg-6">
                    <img src="img/about2.jpg" alt="" class="img-fluid border-irregular1" data-aos="zoom-in">
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
        <div class="bg-light-custom block-padding">
            <div class="container">
                <div id="counter" class="row">
                    <!-- Counter -->
                    <div class="col-xl-3 col-md-6">
                        <div class="counter">
                            <i class="counter-icon fa fa-users"></i>
                            <!-- insert your final value on data-count= -->
                            <div class="counter-value" data-count="1500">0</div>
                            <h3 class="title">Happy Clients</h3>
                        </div>
                        <!-- /counter -->
                    </div>
                    <!-- /col-lg -->
                    <!-- Counter -->
                    <div class="col-xl-3 col-md-6">
                        <div class="counter">
                            <i class="counter-icon flaticon-dog-in-front-of-a-man"></i>
                            <!-- insert your final value on data-count= -->
                            <div class="counter-value" data-count="14">0</div>
                            <h3 class="title">Professionals</h3>
                        </div>
                        <!-- /counter -->
                    </div>
                    <!-- /col-lg -->
                    <!-- Counter -->
                    <div class="col-xl-3 col-md-6">
                        <div class="counter">
                            <i class="counter-icon flaticon-dog-2"></i>
                            <!-- insert your final value on data-count= -->
                            <div class="counter-value" data-count="900">0</div>
                            <h3 class="title">Adopted Pets</h3>
                        </div>
                        <!-- /counter -->
                    </div>
                    <!-- /col-lg -->
                    <!-- Counter -->
                    <div class="col-xl-3 col-md-6">
                        <div class="counter">
                            <i class="counter-icon flaticon-prize-badge-with-paw-print"></i>
                            <!-- insert your final value on data-count= -->
                            <div class="counter-value" data-count="12">0</div>
                            <h3 class="title">Prizes</h3>
                        </div>
                        <!-- /counter -->
                    </div>
                    <!-- /col-lg -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /block-padding -->
        <div class="container bottom-block-padding">
            <h3 class="text-center">What our clients say</h3>
            <div class="col-md-12 mt-5">
                <div id="owl-testimonial" class="owl-carousel owl-theme">
                    <!-- testimonial -->
                    <div class="testimonial">
                        <div class="content">
                            <p class="description">
                                Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                            </p>
                        </div>
                        <!-- /content -->
                        <div class="testimonial-pic">
                            <img src="img/team/team1.jpg" class="img-fluid" alt="">
                        </div>
                        <!-- /testimonial-pic -->
                        <div class="testimonial-review">
                            <h5 class="testimonial-title">Lucianna Smith</h5>
                            <span>Teacher</span>
                        </div>
                        <!-- /testimonial-review -->
                    </div>
                    <!-- /testimonial -->
                    <!-- testimonial -->
                    <div class="testimonial">
                        <div class="content">
                            <p class="description">
                                Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                            </p>
                        </div>
                        <!-- /content -->
                        <div class="testimonial-pic">
                            <img src="img/team/team2.jpg" class="img-fluid" alt="">
                        </div>
                        <!-- /testimonial-pic -->
                        <div class="testimonial-review">
                            <h5 class="testimonial-title">John Sadana</h5>
                            <span>Doctor</span>
                        </div>
                        <!-- /testimonial-review -->
                    </div>
                    <!-- /testimonial -->
                    <!-- testimonial -->
                    <div class="testimonial">
                        <div class="content">
                            <p class="description">
                                Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                            </p>
                        </div>
                        <!-- /content -->
                        <div class="testimonial-pic">
                            <img src="img/team/team3.jpg" class="img-fluid" alt="">
                        </div>
                        <!-- /testimonial-pic -->
                        <div class="testimonial-review">
                            <h5 class="testimonial-title">Jane Janeth</h5>
                            <span>Librarian</span>
                        </div>
                        <!-- /testimonial-review -->
                    </div>
                    <!-- /testimonial -->
                </div>
                <!-- /owl-testimonial -->
            </div>
            <!-- /col-md-12 -->
        </div>
        <!-- /container -->
    </section>
    <!-- / Section Ends -->
    <!-- Section: Gallery -->
    <section id="gallery" class="dog-bg1 bg-light pb-0">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Част от нашите клиенти</h2>
            </div>
            <!-- /Section-heading -->
        </div>
        <!-- /container -->
        <!-- centered Gallery navigation -->
       @* <ul class="nav nav-pills cat center-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#" data-bs-toggle="tab" data-filter="*">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="tab" data-filter=".dogscats">Dogs and Cats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="tab" data-filter=".other">Other Pets</a>
            </li>
        </ul>*@
        <!-- /ul -->
        <!-- Gallery -->
        <div id="gallery-isotope" class="mt-5">
            <!-- Image 1 -->
            @foreach(var a in animals)
            {
                <div class="dogscats col-lg-3 col-sm-6 col-md-6">
                    <div class="isotope-item">
                        <div class="gallery-thumb">
                            <img class="img-fluid" src="@a.ImageUrl" alt="">
                            <a href="@a.ImageUrl" title="You can add caption to pictures.">
                                <span class="overlay-mask"></span>
                            </a>
                        </div>
                    </div>
                </div>
            
            }
@*
            <div class="dogscats col-lg-3 col-sm-6 col-md-6">
                <div class="isotope-item">
                    <div class="gallery-thumb">
                        <img class="img-fluid" src="img/gallery/gallery1.jpg" alt="">
                        <a href="img/gallery/gallery1.jpg" title="You can add caption to pictures.">
                            <span class="overlay-mask"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image 2 -->
            <div class="other col-lg-3 col-sm-6 col-md-6">
                <div class="isotope-item">
                    <div class="gallery-thumb">
                        <img class="img-fluid" src="img/gallery/gallery2.jpg" alt="">
                        <a href="img/gallery/gallery2.jpg" title="You can add caption to pictures.">
                            <span class="overlay-mask"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image 3 -->
            <div class="other col-lg-3 col-sm-6 col-md-6">
                <div class="isotope-item">
                    <div class="gallery-thumb">
                        <img class="img-fluid" src="img/gallery/gallery3.jpg" alt="">
                        <a href="img/gallery/gallery3.jpg" title="You can add caption to pictures.">
                            <span class="overlay-mask"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image 4 -->
            <div class="dogscats col-lg-3 col-sm-6 col-md-6">
                <div class="isotope-item">
                    <div class="gallery-thumb">
                        <img class="img-fluid" src="img/gallery/gallery4.jpg" alt="">
                        <a href="img/gallery/gallery4.jpg" title="You can add caption to pictures.">
                            <span class="overlay-mask"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image 5 -->
            <div class="dogscats col-lg-3 col-sm-6 col-md-6">
                <div class="isotope-item">
                    <div class="gallery-thumb">
                        <img class="img-fluid" src="img/gallery/gallery5.jpg" alt="">
                        <a href="img/gallery/gallery5.jpg" title="You can add caption to pictures.">
                            <span class="overlay-mask"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image 6 -->
            <div class="dogscats col-lg-3 col-sm-6 col-md-6">
                <div class="isotope-item">
                    <div class="gallery-thumb">
                        <img class="img-fluid" src="img/gallery/gallery6.jpg" alt="">
                        <a href="img/gallery/gallery6.jpg" title="You can add caption to pictures.">
                            <span class="overlay-mask"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image 7 -->
            <div class="dogscats col-lg-3 col-sm-6 col-md-6">
                <div class="isotope-item">
                    <div class="gallery-thumb">
                        <img class="img-fluid" src="img/gallery/gallery7.jpg" alt="">
                        <a href="img/gallery/gallery7.jpg" title="You can add caption to pictures.">
                            <span class="overlay-mask"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image 8 -->
            <div class="other col-lg-3 col-sm-6 col-md-6">
                <div class="isotope-item">
                    <div class="gallery-thumb">
                        <img class="img-fluid" src="img/gallery/gallery8.jpg" alt="">
                        <a href="img/gallery/gallery8.jpg" title="You can add caption to pictures.">
                            <span class="overlay-mask"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image 9 -->
            <div class="other col-lg-3 col-sm-6 col-md-6">
                <div class="isotope-item">
                    <div class="gallery-thumb">
                        <img class="img-fluid" src="img/gallery/gallery9.jpg" alt="">
                        <a href="img/gallery/gallery9.jpg" title="You can add caption to pictures.">
                            <span class="overlay-mask"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image 10 -->
            <div class="dogscats col-lg-3 col-sm-6 col-md-6">
                <div class="isotope-item">
                    <div class="gallery-thumb">
                        <img class="img-fluid" src="img/gallery/gallery10.jpg" alt="">
                        <a href="img/gallery/gallery10.jpg" title="You can add caption to pictures.">
                            <span class="overlay-mask"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image 11 -->
            <div class="other col-lg-3 col-sm-6 col-md-6">
                <div class="isotope-item">
                    <div class="gallery-thumb">
                        <img class="img-fluid" src="img/gallery/gallery11.jpg" alt="">
                        <a href="img/gallery/gallery11.jpg" title="You can add caption to pictures.">
                            <span class="overlay-mask"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image 12 -->
            <div class="dogscats col-lg-3 col-sm-6 col-md-6">
                <div class="isotope-item">
                    <div class="gallery-thumb">
                        <img class="img-fluid" src="img/gallery/gallery12.jpg" alt="">
                        <a href="img/gallery/gallery12.jpg" title="You can add caption to pictures.">
                            <span class="overlay-mask"></span>
                        </a>
                    </div>
                </div>
            </div>*@
        </div>
        <!-- /gallery-isotope-->
    </section>
    <!-- / Section Ends -->
    <!-- Section team -->
    <section id="team" class="cat-bg1">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Our Team</h2>
            </div>
            <!-- /Section-heading -->
            <div class="container">
                <div id="owl-team2" class="owl-carousel owl-theme">
                    <!-- Team member -->
                    <div class="col-lg-12 team-style2">
                        <!-- image -->
                        <img src="img/team/team1.jpg" alt="" class="img-fluid">
                        <div class="team-caption">
                            <!-- social icons -->
                            <div class="icons">
                                <a href="#"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <!-- name -->
                        <div class="name">
                            <h4> Mary Smith</h4>
                            <h6>Trainer</h6>
                        </div>
                        <!-- /name -->
                    </div>
                    <!-- /team -->
                    <!-- Team member -->
                    <div class="col-lg-12 team-style2">
                        <!-- image -->
                        <img src="img/team/team2.jpg" alt="" class="img-fluid">
                        <div class="team-caption">
                            <!-- social icons -->
                            <div class="icons">
                                <a href="#"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <!-- name -->
                        <div class="name">
                            <h4>John Doe</h4>
                            <h6>Pet Expert</h6>
                        </div>
                        <!-- /name -->
                    </div>
                    <!-- /team -->
                    <!-- Team member -->
                    <div class="col-lg-12 team-style2">
                        <!-- image -->
                        <img src="img/team/team3.jpg" alt="" class="img-fluid">
                        <div class="team-caption">
                            <!-- social icons -->
                            <div class="icons">
                                <a href="#"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <!-- name -->
                        <div class="name">
                            <h4>Alissa Silva</h4>
                            <h6>Veterinarian</h6>
                        </div>
                        <!-- /name -->
                    </div>
                    <!-- /team -->
                    <!-- Team member -->
                    <div class="col-lg-12 team-style2">
                        <!-- image -->
                        <img src="img/team/team4.jpg" alt="" class="img-fluid">
                        <div class="team-caption">
                            <!-- social icons -->
                            <div class="icons">
                                <a href="#"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <!-- name -->
                        <div class="name">
                            <h4>Ana Doe</h4>
                            <h6>Veterinarian</h6>
                        </div>
                        <!-- /name -->
                    </div>
                    <!-- /team -->
                    <!-- Team member -->
                    <div class="col-lg-12 team-style2">
                        <!-- image -->
                        <img src="img/team/team5.jpg" alt="" class="img-fluid">
                        <div class="team-caption">
                            <!-- social icons -->
                            <div class="icons">
                                <a href="#"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <!-- name -->
                        <div class="name">
                            <h4>Lucas Smith</h4>
                            <h6>Animal Caretaker</h6>
                        </div>
                        <!-- /name -->
                    </div>
                    <!-- /team -->
                </div>
                <!-- /owl-team2 -->
            </div>
            <!-- /container -->
        </div>
        <!-- /container -->
    </section>
    <!-- / Section Ends -->
    <!-- Section Call to action -->
    <div id="call-to-action">
        <div class="container block-padding">
            <div class="col-lg-6 offset-lg-6 bg-primary text-light card text-center">
                <h4>Subscribe to our newsletter</h4>
                <p>Ultricies a,interdum donec eget metus auguen u Fusce mollis imperdiet interdum donec eget metus auguen unc vel lorem.</p>
                <!-- Form -->
                <div id="mc_embed_signup">
                    <!-- your form address in the line bellow -->
                    <form action="//yourlist.us12.list-manage.com/subscribe/post?u=04e646927a196552aaee78a7b&id=111" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <div class="input-group">
                                    <input class="form-control input-lg required email" type="email" value="" name="EMAIL" placeholder="Your email here" id="mce-EMAIL">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
                                    </span>
                                </div>
                                <!-- Subscription results -->
                                <div id="mce-responses" class="mailchimp">
                                    <div class="alert alert-danger response" id="mce-error-response"></div>
                                    <div class="alert alert-success response" id="mce-success-response"></div>
                                </div>
                            </div>
                            <!-- /mc-fiel-group -->
                        </div>
                        <!-- /mc_embed_signup_scroll -->
                    </form>
                    <!-- /form ends -->
                </div>
                <!-- /mc_embed_signup -->
            </div>
            <!-- /col-md-12 -->
        </div>
        <!--/row -->
    </div>
    <!--/call-to-action --><!-- Section Adopt -->
    <section id="adopt" class="paws-house-bg1 bg-light">
        <div class="container ">
            <div class="section-heading text-center">
                <h2>Adopt a Pet</h2>
            </div>
            <!-- /Section-heading -->
            <div class="col-lg-10 offset-lg-1 text-center">
                <h3>Find a new furry Friend</h3>
                <p>Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
            </div>
            <!-- First row: Adopt a pet -->
            <div class="row mt-5">
                <!-- Pet  -->
                <div class="adopt-card col-md-6 col-xl-3 res-margin">
                    <div class="card bg-light-custom">
                        <div class="thumbnail text-center">
                            <!-- Image -->
                            <img src="img/adoption/adoption1.jpg" class="border-irregular1 img-fluid" alt="">
                            <!-- Name -->
                            <div class="caption-adoption">
                                <h6 class="adoption-header">Fluffy</h6>
                                <!-- List -->
                                <ul class="list-unstyled">
                                    <li><strong>Gender:</strong> Female</li>
                                    <li><strong>Neutered: </strong> Yes</li>
                                    <li><strong>Age:</strong> 2 years</li>
                                </ul>
                                <!-- Buttons -->
                                <div class="text-center">
                                    <a href="adoption-single.html" class="btn btn-primary">More Info</a>
                                </div>
                            </div>
                        </div>
                        <!-- /thumbnail -->
                    </div>
                    <!-- /card -->
                </div>
                <!-- /adopt-card -->
                <!-- /pet -->
                <!-- Pet  -->
                <div class="adopt-card col-md-6 col-xl-3 res-margin">
                    <div class="card bg-light-custom">
                        <div class="thumbnail text-center">
                            <!-- Image -->
                            <img src="img/adoption/adoption2.jpg" class="border-irregular1 img-fluid" alt="">
                            <!-- Name -->
                            <div class="caption-adoption">
                                <h6 class="adoption-header">Charlie</h6>
                                <!-- List -->
                                <ul class="list-unstyled">
                                    <li><strong>Gender:</strong> Male</li>
                                    <li><strong>Neutered: </strong> Yes</li>
                                    <li><strong>Age:</strong> 2 years</li>
                                </ul>
                                <!-- Buttons -->
                                <div class="text-center">
                                    <a href="adoption-single.html" class="btn btn-primary">More Info</a>
                                </div>
                            </div>
                        </div>
                        <!-- /thumbnail -->
                    </div>
                    <!-- /card -->
                </div>
                <!-- /adopt-card -->
                <!-- /pet -->
                <!-- Pet  -->
                <div class="adopt-card col-md-6 col-xl-3 res-margin">
                    <div class="card bg-light-custom">
                        <div class="thumbnail text-center">
                            <!-- Image -->
                            <img src="img/adoption/adoption3.jpg" class="border-irregular1 img-fluid" alt="">
                            <!-- Name -->
                            <div class="caption-adoption">
                                <h6 class="adoption-header">Lucky</h6>
                                <!-- List -->
                                <ul class="list-unstyled">
                                    <li><strong>Gender:</strong> Male</li>
                                    <li><strong>Neutered: </strong> Yes</li>
                                    <li><strong>Age:</strong> 5 years</li>
                                </ul>
                                <!-- Buttons -->
                                <div class="text-center">
                                    <a href="adoption-single.html" class="btn btn-primary">More Info</a>
                                </div>
                            </div>
                        </div>
                        <!-- /thumbnail -->
                    </div>
                    <!-- /card -->
                </div>
                <!-- /adopt-card -->
                <!-- /pet -->
                <!-- Pet  -->
                <div class="adopt-card col-md-6 col-xl-3 res-margin">
                    <div class="card bg-light-custom">
                        <div class="thumbnail text-center">
                            <!-- Image -->
                            <img src="img/adoption/adoption4.jpg" class="border-irregular1 img-fluid" alt="">
                            <!-- Name -->
                            <div class="caption-adoption">
                                <h6 class="adoption-header">Magdalene</h6>
                                <!-- List -->
                                <ul class="list-unstyled">
                                    <li><strong>Gender:</strong> Female</li>
                                    <li><strong>Neutered: </strong> No</li>
                                    <li><strong>Age:</strong> 2 years</li>
                                </ul>
                                <!-- Buttons -->
                                <div class="text-center">
                                    <a href="adoption-single.html" class="btn btn-primary">More Info</a>
                                </div>
                            </div>
                        </div>
                        <!-- /thumbnail -->
                    </div>
                    <!-- /card -->
                </div>
                <!-- /adopt-card -->
                <!-- /pet -->
            </div>
            <!-- /row -->
            <div class="text-center mt-5">
                <a href="adoption.html" class="btn btn-secondary btn-lg">See more pets</a>
            </div>
        </div>
        <!-- /container -->
    </section>
    <!-- Section Contact -->
    <section id="contact" class="dog-bg3">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Contact Us</h2>
            </div>
            <!-- /Section-heading -->
        </div>
        <!-- /container -->
        <div class="container">
            <div class="row">
                <!-- contact info -->
                <div class="contact-info col-lg-5 card bg-light-custom">
                    <h4>Send us a message!</h4>
                    <!-- Form Starts -->
                    <div id="contact_form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name<span class="required">*</span></label>
                                    <input type="text" name="name" class="form-control input-field" required="">
                                </div>
                                <div class="col-md-6">
                                    <label>Email Address <span class="required">*</span></label>
                                    <input type="email" name="email" class="form-control input-field" required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Subject</label>
                                    <input type="text" name="subject" class="form-control input-field">
                                </div>
                                <div class="col-md-12">
                                    <label>Message<span class="required">*</span></label>
                                    <textarea name="message" id="message" class="textarea-field form-control" rows="3" required=""></textarea>
                                </div>
                            </div>
                            <button type="submit" id="submit_btn" value="Submit" class="btn btn-primary">Send message</button>
                        </div>
                        <!-- Contact results -->
                        <div id="contact_results"></div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <!-- map-->
                    <div id="map-canvas" class="mt-3 border-irregular1"></div>
                </div>
                <!-- /col-lg-->
            </div>
            <!-- /row-->
            <div class="row res-margin mt-5">
                <div class="col-lg-6 mt-5">
                    <div class="contact-icon">
                        <!---icon-->
                        <i class="fa fa-envelope top-icon"></i>
                        <!-- contact-icon info-->
                        <div class="contact-icon-info">
                            <h5>Send us a Message</h5>
                            <p class="h7"><a href="mailto:email@yoursite.com">email@yoursite.com</a></p>
                        </div>
                    </div>
                </div>
                <!-- /contact-icon-->
                <div class="col-lg-6 mt-5">
                    <div class="contact-icon">
                        <!---icon-->
                        <i class="fa fa-map-marker top-icon"></i>
                        <!-- contact-icon info-->
                        <div class="contact-icon-info">
                            <h5>Visit our Location</h5>
                            <p class="h7">Pet Street 123 - New York</p>
                        </div>
                    </div>
                </div>
                <!-- /contact-icon-->
                <div class="col-lg-6 mt-5">
                    <div class="contact-icon">
                        <!---icon-->
                        <i class="fa fa-phone top-icon"></i>
                        <!-- contact-icon info-->
                        <div class="contact-icon-info">
                            <h5>Call us today</h5>
                            <p class="h7">(123) 456-789</p>
                        </div>
                    </div>
                </div>
                <!-- /contact-icon-->
                <div class="col-lg-6 mt-5">
                    <div class="contact-icon">
                        <!---icon-->
                        <i class="fa fa-heart top-icon"></i>
                        <!-- contact-icon info-->
                        <div class="contact-icon-info">
                            <h5>Follow us on Social Media</h5>
                            <ul class="social-media">
                                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /contact-icon-->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /Section ends -->
    <!-- ==== footer ==== -->
    <footer class="text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a class="navbar-brand" href="index.html"><i class="flaticon-dog-20"></i><span>Woof!</span></a>
                    <p class="mt-3">Cras enim wisi elit aenean, amet eros curabitur. Wisi ad eget ipsum<br>  metus sociisc ras enim wisi elit aenean.</p>
                </div>
                <!--/ col-lg -->
                <div class="col-lg-3">
                    <h6><i class="fas fa-envelope margin-icon"></i>Contact Us</h6>
                    <ul class="list-unstyled">
                        <li>(123) 456-789</li>
                        <li><a href="mailto:email@yoursite.com">email@yoursite.com</a></li>
                        <li>Pet Street 123 - New York </li>
                    </ul>
                    <!--/ul -->
                </div>
                <!--/ col-lg -->
                <div class="col-lg-3">
                    <h6><i class="far fa-clock margin-icon"></i>Working Hours</h6>
                    <ul class="list-unstyled">
                        <li>Open 9am - 10pm</li>
                        <li>Holidays - Closed</li>
                        <li>Weekends - Closed</li>
                    </ul>
                    <!--/ul -->
                </div>
                <!--/ col-lg -->
            </div>
            <!--/ row-->
            <div class="row">
                <div class="credits col-sm-12">
                    <p>Designed by <a href="http://www.ingridkuhn.com">Ingrid Kuhn</a></p>
                </div>
            </div>
            <!--/ row -->
        </div>
        <!--/ container -->
        <!-- Go To Top Link -->
        <div class="d-none d-md-block">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
        </div>
        <!--/page-scroll-->
    </footer>
    <!--/ footer-->
    <!-- Bootstrap core & Jquery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/plugins.js"></script>
    <!-- Prefix free -->
    <script src="~/js/prefixfree.min.js"></script>
    <!-- GreenSock -->
    <script src="~/vendor/layerslider/js/greensock.js"></script>
    <!-- LayerSlider script files -->
    <script src="~/vendor/layerslider/js/layerslider.transitions.js"></script>
    <script src="~/vendor/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="~/vendor/layerslider/js/layerslider.load.js"></script>
    <!-- Mailchimp script -->
    <script src="~/js/mailchimp.js"></script>
    <!-- number counter script -->
    <script src="~/js/counter.js"></script>
    <!-- Contact Form script -->
    <script src="~/js/contact.js"></script>
    <!-- Map -->
    <script src="~/js/map.js"></script>
</body>
</html>