@using ForAnimalsWithLove.ViewModels.IndexModels;
@model IEnumerable<IndexTrainerModel>
@{
	var trainers = Model.ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- page title -->
	<title>Woof!</title>
	<!--[if lt IE 9]>
	<script src="~/js/respond.js"></script>
	<![endif]-->
	<!-- Font files -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
	<link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
	<link href="~/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
	<!-- Fav icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<!-- Bootstrap core CSS -->
	<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- style CSS -->
	<link href="~/css/style.css" rel="stylesheet">
	<!-- plugins CSS -->
	<link href="~/css/plugins.css" rel="stylesheet">
	<!-- Colors CSS -->
	<link href="~/styles/maincolors.css" rel="stylesheet">
	<!-- LayerSlider CSS -->
	<link rel="stylesheet" href="~/vendor/layerslider/css/layerslider.css">
</head>
<!-- ==== body starts ==== -->
<body id="top">
	<!-- section-heading -->
	<!-- /section-heading -->
	<!-- ==== Page Content ==== -->
	<div class="page">
		<div class="section-heading" data-aos="zoom-in">
			<h1>Треньори</h1>
		</div>
		<div class="row mt-5">
			@foreach (var tr in trainers)
			{
				<div class="adopt-card col-xl-4 ">
					<div class="card bg-light-custom">
						<div class="thumbnail text-center">
							<!-- Image -->
							<img src="@tr.ImageUrl" style="height:300px" class="border-irregular1 img-fluid" alt="photo">
							<!-- Name -->
							<div class="caption-adoption">
								<h6 class="adoption-header">@tr.FirstName @tr.LastName</h6>
							</div>
						</div>
						<!-- /thumbnail -->
					</div>
					<!-- /card -->
				</div>
			}
		</div>
	</div>

	<!-- /container -->
	<!-- /page -->
	<!-- Bootstrap core & Jquery -->
	<script src="~/vendor/jquery/jquery.min.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- Custom Js -->
	<script src="~/js/custom.js"></script>
	<script src="~/js/plugins.js"></script>
	<!-- Prefix free -->
	<script src="~/js/prefixfree.min.js"></script>
</body>
</html>